<div class="row justify-content-center">
    <h1 class="text-center text-primary">
        <strong>My Events</strong>
    </h1>
</div>
<!-- <div class="row justify-content-center">
    <h3 *ngIf="user" class="text-center text-primary"><strong>[{{user.role | role | uppercase}}]</strong></h3>
</div> -->

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Event Description</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events; let i = index">
                <td>{{event.name}}</td>
                <td>{{event.description}}</td>
                <td>
                    <div class="btn-group">
                        <button [routerLink]="['/images']" [queryParams]="{ eventuid: event.uid }" class="btn btn-outline-primary">See Images</button>
                        <button type="button" (click)="setUserToDelete(i)" class="btn btn-outline-danger" data-toggle="modal" data-target="#unsusbcribeModal">Unsubscribe from this event</button>
                        <button *ngIf="event.role === 3" [routerLink]="['/eventadmin', event.uid ]" class="btn btn-outline-secondary">Administrar Usuarios</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row justify-content-center">
    <span *ngIf="dataRecovered && (!events || !events.length)" class="alert alert-primary">No event under Subscription :(</span>
</div>
<hr>
<form *ngIf="!user?.email" class="form-group row">
    <div class="col">
        <span>Subscribe new event</span>
    </div>
    <div class="col">
        <input [(ngModel)]="token" class="form-control" type="text" placeholder="token event" name="token">
    </div>
    <div *ngIf="!user?.email" class="col">
        <button (click)="registerInNewEvent()" class="btn btn-primary" type="button">Subscribe</button>
    </div>
</form>

<div class="modal fade" id="unsusbcribeModal" tabindex="-1" role="dialog" aria-labelledby="unsusbcribeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unsusbcribeModalLabel">Baja de Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja al usuario de este evento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button (click)="unsubscribeUserFromEvent()" class="btn btn-danger" data-dismiss="modal">Unsubscribe from this event</button>
            </div>
        </div>
    </div>
</div>