<div class="row">
    <div class="col-3">
        <img src="./assets/Logounir.png" class="w-20">
    </div>
    <div class="col">
        <h1><strong>Máster Desarrollo de Aplicaciones Móviles</strong></h1>
        <h3>Trabajo Final de Máster - 2018</h3>
        <hr>
        <p>Web App de la Aplicación <span class="text-info font-weight-bold">MyEvents</span> para la gestión de imágenes de Eventos.</p>
        <p>El alta de los usuario se realiza a través de Tokens generados por los administradores de cada evento, asignando un evento y un nivel de permiso para el registro usando dicho token.</p>
        <p>Cada usuario tiene un nivel de permiso (rol) por cada evento. Éstos son:</p>
        <ul>
            <li>
                <strong>Nivel 0:</strong> Usario anónimo. Sólo puede ver las imágenes públicas de un único evento. No permite registro.
            </li>
            <li>
                <strong>Nivel 1:</strong> Usario básico. Permite crear una cuenta y registrarse a múltiples eventos.
            </li>
            <li>
                <strong>Nivel 2:</strong> Usario VIP. Tiene acceso a las imágenes privadas.
            </li>
            <li>
                <strong>Nivel 3:</strong> Usario Administrador. Gestiona los usuarios y las imágenes del evento.
            </li>
            <li>
                <strong>Nivel 4:</strong> Proveedor del Servicio. Crea los eventos pero no tiene acceso a ellos. Es el responsable de generar tokens para registros de nuevos administradores.
            </li>
        </ul>
        <p>Los usuarios también podrán acceder a las imágenes a través de la aplicación móvil de <span class="text-info">MyEvents</span></p>
    </div>
</div>