<h3 class="text-center text-primary">User List</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">eMail</th>
            <th scope="col">Role Level</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td><input [(ngModel)]="user.firstname" [value]="user.firstname"></td>
            <td><input [(ngModel)]="user.lastname" [value]="user.lastname"></td>
            <td><input [(ngModel)]="user.email" [value]="user.email"></td>
            <td>{{user.role}}</td>
            <td class="btn-group">
                <button (click)="update(user)" class="btn btn-warning">Update</button>
                <button (click)="delete(i)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="msg" [ngClass]="{'alert alert-dismissible': true, 'alert-danger': isError, 'alert-success': !isError}">
    <a class="close" (click)="msg = ''">&times;</a>
    <span>{{msg}}</span>
</div>