<h1 class="text-center text-primary"><strong>Service Provider Dashboard</strong></h1>
<table class="table table-bordered">
    <thead>
        <tr class="d-flex">
            <th class="col-3">Event Name</th>
            <th class="col-6">Event Description</th>
            <th class="col-3">New AdminEvent Token</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events" class="d-flex">
            <td class="col-3 input-group"><input [ngClass]="{'col mw-100': true, 'border-0': !event.isNew}" [(ngModel)]="event.name" [value]="event.name" [readonly]="!event.isNew"></td>
            <td class="col-6 input-group"><input [ngClass]="{'col mw-100': true, 'border-0': !event.isNew}" [(ngModel)]="event.description" [value]="event.description" [readonly]="!event.isNew"></td>
            <td class="col-3 btn-group" *ngIf="!event.isNew">
                <input value="{{event.tokenvalue}}" type="text" readonly>
                <button (click)="generateToken(event)" class="btn btn-outline-primary">New Token</button>
                <div class="p-1">
                    <img *ngIf="event.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                </div>
            </td>
            <td *ngIf="event.isNew">
                <div class="btn btn-group">
                    <button (click)="saveEvent(event)" class="btn btn-outline-success">Save</button>
                    <button (click)="cancel(event)" class="btn btn-outline-secondary">Cancel</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="row justify-content-around">
    <div class="col">
        <button (click)="newEvent()" type="button" class="btn btn-outline-dark">New Event</button>
    </div>
    <div class="col-auto">
        <div class="btn btn-group">
            <input value="{{sptoken}}" type="text" readonly>
            <button (click)="generateSPToken()" class="btn btn-outline-info">Service Provider Token</button>
        </div>
    </div>
</div>